@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {

    margin: 0px;
    padding: 0px;
}

body {

    background-color:#d9d9d9;
    font-family: 'Roboto Condensed', sans-serif;

}

.foto-Ivan {

    width: 180px;
    height: 150px;
    border-radius: 75px;
}
.container {

    width: 80%;
    margin: 30px auto;


}
.Reader-title {

    display: flex;

}

.personal-info {

    width: 100%;
    text-align:end;
}

.Menu{

    display: flex;
    gap: 50px;
    justify-content: center;

}

.Menu > a {
    
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-size: 20px;
}

.Menu > a:hover {

    color:rgb(0,0,255);
}

.Menu {

    margin-top: 20px;
}

@media (min-width: 1100px) {
    .container {
        width: 50%;

    }
}