@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {

    margin: 0px;
    padding: 0px;
}

body {

    background-color:#d9d9d9;
    font-family: 'Roboto Condensed', sans-serif;

}

.foto-Ivan {

    width: 180px;
    height: 150px;
    border-radius: 75px;
}
.container {

    width: 80%;
    margin: 30px auto;
    display: grid;
    gap: 50px;



}
.Reader-title {

    display: flex;

}

.personal-info {

    width: 100%;
    text-align:end;
}

.Menu{

    display: flex;
    gap: 50px;
    justify-content: center;

}

.Menu > a {
    
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-size: 20px;
}

.Menu > a:hover {

    color:rgb(0,0,255);
}

.Menu {

    margin-top: 20px;
}
.title::after {
content:"";
width: 100px;
height: 6px;
display: block;
background-color: blue;
border-radius: 3px;

}
.skills-container {

    display: flex;
    justify-content: center;
    gap:30px;
    padding: 10px 30px;
    flex-wrap: wrap;
}
.skills-container > div {

    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 7px 10px rgb(119, 111, 111);
    max-width: 150px;
    min-width: 150px;
}
.skills-container > div > ul {

    margin-left: 30px;
    list-style: circle;
}
.skills-container > div > ul > li {

    text-transform: capitalize;
}



@media (min-width: 1100px) {
    .container {
        width: 50%;

    }
}