.project-image {

    width: 100%;
}

.content-project {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.project-tecnologes {

    display: flex;
    list-style: none;
    gap: 8px;
    text-transform: uppercase;


}

.project-tecnologes > li {

    background-color: red;
    padding: 0 5px;
    height: 15px;
    border-radius: 5px;
    font-size: 10px;
}
.info-project {

    display: grid;
    gap: 10px;
}

.button-link-github {

background-color: aqua;
padding: 5px;
border-radius: 5px;
text-decoration: none;
font-weight: bolder;


}
.action-conteiner {

    text-align-last: center;
    margin-top: 5px;

}
    


    
