.card-professional-experience {
    border: 1px solid rgb(54, 55, 56);
    background-color: rgb(172, 209, 245);
    padding: 20px;
    border-radius: 5px;
    display: grid;
    gap: 10px;
    
    
}
.professional-experience-conteiner {
    display: grid;
    gap: 30px;
    margin-top: 30px;
}

